body {
    background: #9DCA3E;
    background-image: url(img/bg-texture.jpg), url(img/bg.png);
    background-position: center top, center bottom;
    background-repeat: no-repeat, repeat-y;
    font-family: 'Ubuntu', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    font-weight: normal;
}

.navbar-default {
    background: none;
    border: 0;
}

.no-transparent {
    background: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-md-4.ms2_product {
    min-height: 310px;
}

.msearch2 label {
    font-weight: normal;
}

.msearch2 label sup {
    color: #999;
}

.fake-header {
    margin-bottom: 20px;
}

.fake-header .col-md-3 {
    width: 23%;
}

.fake-header .logo-brand {
    width: 350px;
}

.fake-header .slogan {
    color: #757575;
    padding-top: 15px;
    width: 21%;
}

.fake-header .phone {
    background: url(img/phone-call.png) no-repeat 0 19px;
    padding-top: 15px;
    padding-left: 54px;
    line-height: 1.3;
    margin-right: 2%;
}

.fake-header .phone small {
    color: #757575;
    font-size: 14px;
}


.fake-header .phone p {
    font-size: 24px;
    color: #8ec63e;
    font-weight: 500;
    margin: 0;
}

.custom-cart {
    padding-top: 15px;
    padding-left: 50px;
    background: url(img/shopping-bag.png) no-repeat 0 19px;
    min-height: 65px;
}

.custom-cart {
    color: #8ec63e;
    font-size: 24px;
    font-weight: 500;
    position: relative;
}

.custom-cart .ms2_total_count {
    ffont-size: 14px;
    color: #fff;
    background: #f14824;
    padding: 6px 10px;
    border-radius: 50%;
    position: absolute;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.2;
    left: 15px;
}


.custom-cart h5 {
    color: #757575;
    font-weight: normal;
    margin-bottom: 5px !important;
}

.custom-cart .empty h5 {
    padding-top: 18px;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: underline;
    line-height: 1;
    padding: 8px 13px;
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li.active a {
    border: 1px solid #fff;
    color: #fff !important;
    background: #5cb921 !important;
    border-radius: 20px;
    margin: -1px;
    text-decoration: none;
}

.navbar {
    margin-bottom: 0;
    padding-top: 10px;
}


.navbar-default .navbar-nav>li:first-child {
    padding-left: 5px;
}

.navbar-default .navbar-nav>li:last-child {
    padding-right: 5px;
}

.navbar-default .navbar-nav>li {
    padding:  0 52px;
}


.panel-green {
  border-color: #5cb85c;
  color: white;
  background-color: #5cb85c;
}
.panel-green > a {
  color: #5cb85c;
}
.panel-green > a:hover {
  color: #3d8b3d;
}
.panel-red {
  border-color: #d9534f;
}
.panel-red {
  border-color: #d9534f;
  color: white;
  background-color: #d9534f;
}
.panel-red > a {
  color: #d9534f;
}
.panel-red > a:hover {
  color: #b52b27;
}
.panel-yellow {
  border-color: #f0ad4e;
}
.panel-yellow {
  border-color: #f0ad4e;
  color: white;
  background-color: #f0ad4e;
}
.panel-yellow > a {
  color: #f0ad4e;
}
.panel-yellow > a:hover {
  color: #df8a13;
}

.dash-widgets .panel-primary {
    background: #337ab7;
}

.dash-widgets .panel {
    height: 67px;
    border-radius: 0;
    overflow: hidden;
    line-height: 1.2;
    font-size: 13px;
    -webkit-box-shadow: 0px 7px 5px -4px rgba(0,0,0,0.33);
    -moz-box-shadow: 0px 7px 5px -4px rgba(0,0,0,0.33);
    box-shadow: 0px 7px 5px -4px rgba(0,0,0,0.33);
}

.dash-widgets .panel .col-xs-8 > div {
    padding-top: 5px;
}

.dash-widgets  .panel-gray {
    background: #d5d5d5;
    color: #fff;
}

.dash-widgets  .panel-warning,
.dash-widgets  .panel-warning .panel-heading {
    color: #fff;
    background: #f2d03b !important;
    border-color: #f2d03b;
}

.dash-widgets  .panel-primary,
.dash-widgets  .panel-primary .panel-heading  {
    background: #3fbb65;
    border-color: #3fbb65;
}

.dash-widgets .panel-green, 
.dash-widgets .panel-green .panel-heading  {
    background: #944ea6;
    border-color: #944ea6;
}

.dash-widgets .panel-green .col-xs-8 > div {
    padding-top: 0;
}

.dash-widgets {
    padding-top: 10px;
}

.dash-widgets .panel-yellow, 
.dash-widgets .panel-yellow .panel-heading  {
    background: #1a93c0;
    border-color: #1a93c0;
}

.dash-widgets .panel-yellow .col-xs-8 > div {
    padding-top: 0;
    margin-left: -5px;
}

.dash-widgets .panel-red, 
.dash-widgets .panel-red .panel-heading  {
    background: #f34e4a;
    border-color: #f34e4a;
} 

.dash-widgets .panel-red .col-xs-4 img {
    margin-top: 5px;
}

.dash-widgets .panel-gray .col-xs-4 img {
    margin-top: 3px;
}

.brand-slider .bx-wrapper .bx-viewport {
    border: 0;
    box-shadow: none;
}

.brand-slider .bx-wrapper .bx-controls-direction a.bx-prev {
    left:-41px;
}

.brand-slider .bx-wrapper .bx-controls-direction a.bx-next {
    right:-41px;
}

.brand-slider .panel-body {
    height: 100px;
    overflow: hidden;
}

footer {
    padding: 20px 0;
    border: 0;
    margin-top: 0;
}

footer p {
    color: #fff;
    font-weight: 100;
    margin: 0;
}

































